# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Logs and DB
*.log
*.sqlite3

# Env files
.env
